Strings

In [1]:
"hello"

'hello'

In [2]:
'hello'

'hello'

In [3]:
"Hello everybody"

'Hello everybody'

In [4]:
'hello everybody in the world'

'hello everybody in the world'

In [5]:
"number"

'number'

In [6]:
"line 1"
"line2"

'line2'

In [7]:
print 'line 1'
print 'line 2'

line 1
line 2

In [8]:
print("line 1")
print("line 2")

line 1
line 2

In [9]:
'line 3 \n line 4'

'line 3 \n line 4'

In [10]:
'\n'

'\n'

In [13]:
print 'line 3 \nline 4'

line 3
line 4

Something to note. In Python 3, print is a function, not a statement. So you would print statements like this: print('Hello World')

In [69]:
# \t mean print beteween tabs
print('line3 \t line4')

line3 	 line4

In [68]:
from __future__ import print_function

In [16]:
print("Hello y'all")

Hello y'all

In [17]:
len("Hello")

5

In [18]:
s = "hello"

In [19]:
s

'hello'

In [20]:
print(s)

hello

In [21]:
len(s)

5

In [22]:
# Indexing strings

In [23]:
# show the first element
s[0]

'h'

In [25]:
s[3]

'l'

In [26]:
# Grab everything past the first term all the way to the length of s which is len(s)
s[1:]

'ello'

In [28]:
# everything
s[:]

'hello'

In [29]:
# Last letter (one index behind 0 so it loops back around)
s[-1]

'o'

In [30]:
# Grab everything but the last letter
s[:-1]

'hell'

In [31]:
# Grab everything, but go in step sizes of 2
s[::2]

'hlo'

In [32]:
# We can use this to print a string backwards
s[::-1]

'olleh'

String Properties

In [33]:
s

'hello'

In [34]:
s[0] = "H"

TypeError: 'str' object does not support item assignment

In [36]:
# Concatenate strings!
s + " world"

'hello world'

In [38]:
# We can reassign s completely though!
s = s + "!!!"

In [39]:
s

'hello!!!!!!'

In [40]:
# We can use the multiplication symbol to create repetition!
s*2

'hello!!!!!!hello!!!!!!'

String Methods

In [43]:
# Upper Case a string
s.upper()

'HELLO!!!!!!'

In [44]:
# Lower case
s.lower()

'hello!!!!!!'

In [49]:
s = s + " World" + " :)"

In [50]:
s

'hello!!!!!! World:) World :)'

In [51]:
# Split a string by blank space (this is the default)
s.split()

['hello!!!!!!', 'World:)', 'World', ':)']

In [52]:
x = "My name is Thiago"

In [54]:
# Split by a specific element (doesn't include the element that was split on)
x.split("e")

['My nam', ' is Thiago']

Printing Formatting

In [55]:
'Insert another string with curly brackets: {}'.format('The inserted string')

'Insert another string with curly brackets: The inserted string'

In [56]:
'string 1: {}'.format('string 2')

'string 1: string 2'

In [61]:
b = "hello"

In [62]:
b.capitalize()

'Hello'

In [65]:
c = "hello world"
c.center(1)

'hello world'